<div class="row clearfix">
  <div class="complete">
    <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
      <% if todo_item.completed? %>
        <i style="opacity: 0.4;" class="fa fa-check"></i>
      <% else %>
        <i class="fa fa-circle-thin"></i>
      <% end %>
    <% end %>
  </div>


    <div class="todo_item">
      <% if todo_item.completed? %>
        <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
      <% else %>
        <p><%= todo_item.content %></p>
      <% end %>
    </div>

  <div class="trash">
    <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </div>
</div>
